<div class="chart-container">
  <h3 class="m-3 text-white d-flex">
    <span class="counter mr-3">{{counter}}</span>
    <span class="small align-self-end">
      <span class="text-secondary">{{timeInterval.from | date:'dd-MM-yy'}}</span><span> {{timeInterval.from | date:'HH:mm:ss'}}</span>
      <span class="separator-dash"> - </span>
      <span class="separator-br"><br></span>
      <span class="text-secondary">{{timeInterval.to | date:'dd-MM-yy'}}</span><span> {{timeInterval.to | date:'HH:mm:ss'}}</span>
    </span>
  </h3>
  <canvas baseChart
          [datasets]="data"
          [options]="options"
          [chartType]="'bubble'">
  </canvas>
  <div class="load-indicator" *ngIf="loading">
    <div class="load-indicator-content">
      <span class="h2 text-white">Loading...</span>
    </div>
  </div>
</div>
