.counter {
  display: inline-block;
  min-width: 80px;
}
.chart-container {
  position: relative;
}
.load-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
}
.load-indicator-content {
  position: relative;
  transform: translate(-50%, -50%);
}
@media(max-width: 768px) {
  .separator-dash {
    display: none;
  }
}
@media(min-width: 769px) {
  .separator-br {
    display: none;
  }
}